<div class="col-xs-8">
  <% @posts.each do |post| %>
      <div class="page-header">
        <h1><%= post.title %><small> <%= post.created_at.strftime("%l:%M%P on %B %-d, %Y") %></small></h1>
      </div>
      <%= post.content %>
  <% end %>
  <% if @posts.length == 0 %>
    <div class="page-header">
        <h1>There doesn't appear to be anything here...<small> <%= Time.now.strftime("%l:%M%P on %B %-d, %Y") %></small></h1>
      </div>
  <% end %>
</div>