<% provide(:title, 'RoR') %>
<div ng-controller="PostCtrl" class="row">
  <div class="col-md-12">
    <form>
      <input type="text" ng-model="newEntry.name">
    </form>
    <ul>
      <li ng-repeat="post in posts">
        {{post.title}}
      </li>
    </ul>
  </div>
</div>