<% provide(:title, 'RoR') %>
<div class="row" ng-controller="PostCtrl">
  <div class="col-md-12">
    <form ng-submit="addPost()" class="form-inline">
      <input type="text" class="form-control" ng-model="newPost.title">
      <input type="text" class="form-control" ng-model="newPost.content">
      <input type="submit" class="form-control btn btn-primary btn-sm" value="Add">
    </form>
  </div>
  <br>
  <br>
  <ul>
    <span class="big-inline">
      <li ng-repeat="post in posts">
        {{post.title}}: <span class="small-inline">{{post.content}}<a href="" ng-click="removeEntry(post)"> X</a></span>
      </li>
    </span>
  </ul>
</div>
