<% provide(:title, 'RoR') %>
<div class="row">
  <div class="col-md-12">
    <%= form_for @post do |f| %>

      <div class="field">
          <%= f.label :content %>
          <%= f.text_field :content, autofocus: true %>
      </div>

      <%= f.submit class: 'btn btn-primary'  %>
    <% end %>
  </div>
</div>