<div class="container-fluid">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-xs-8">
      <%= render "posts" %>
    </div>
    <div class="sidebar-module sidebar-module-inset">
      <%= render "sidebar" %>
    </div>
  </div>
</div>