<div class="container-fluid">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-xs-8">
      <%= render "posts" %>
      <br>
      <br>
      <nav>
        <ul class="pager">
          <% if @previous_post %>
          <li class="previous"><%= link_to "<span aria-hidden='true'>&larr;</span> #{@previous_post.title}".html_safe, @previous_post %></li>
          <% end %>
          <% if @next_post %>
          <li class="next"><%= link_to "#{@next_post.title} <span aria-hidden='true'>&rarr;</span>".html_safe, @next_post %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="sidebar-module sidebar-module-inset">
      <%= render "sidebar" %>
    </div>
  </div>
</div>